<a href="https://colab.research.google.com/github/coding-sorcerer-1/LEARN.PY/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
group=df.groupby('A')
print("Sum of the groups ")
print(group.sum(),"\n")
print("3 least elements from the column D")
print(df['D'].nsmallest(3),"\n")
print("3 largest elements from the column D which belongs to the group 'bar' ",group['D'].get_group('bar').nlargest(3))

Sum of the groups
            C         D
A
bar  0.722419  1.235550
foo -0.682076 -2.523598

3 least elements from the column D
7   -1.617600
6   -1.210494
4   -0.560729
Name: D, dtype: float64

3 largest elements from the column D which belongs to the group 'bar'  5    0.923467
3    0.754036
1   -0.441954
Name: D, dtype: float64

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv('csvFile.csv')
print("Csv file")
print(pd.read_csv('csvFile.csv'),"\n")
df.to_excel('excelFile.xlsx')
print("Excel file ")
print(pd.read_excel('excelFile.xlsx'))

Csv file
   Unnamed: 0    A      B         C         D
0           0  foo    one  1.377624 -0.086648
1           1  bar    one  0.121243  0.636762
2           2  foo    two  0.053620 -0.056062
3           3  bar  three  0.835948 -0.234842
4           4  foo    two -0.266016 -1.165196
5           5  bar    two  0.189041 -0.656230
6           6  foo    one  0.188970  0.865762
7           7  foo  three -0.834951 -0.156155

Excel file
   Unnamed: 0    A      B         C         D
0           0  foo    one  1.377624 -0.086648
1           1  bar    one  0.121243  0.636762
2           2  foo    two  0.053620 -0.056062
3           3  bar  three  0.835948 -0.234842
4           4  foo    two -0.266016 -1.165196
5           5  bar    two  0.189041 -0.656230
6           6  foo    one  0.188970  0.865762
7           7  foo  three -0.834951 -0.156155