<a href="https://colab.research.google.com/github/coding-sorcerer-1/LEARN.PY/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1,"\n")
print(" Boolean mask where value is nan")
print(df1.isnull(),"\n")
print("Remove the row with missing data")
print(df1.dropna())

                   A         B         C         D   F    E
2021-01-01 -0.853587 -0.220687  1.642123 -0.583665 NaN  1.0
2021-01-02  0.717799  0.258844 -0.155539 -2.111745 NaN  1.0
2021-01-03 -0.357631 -0.176993  1.338985 -0.245193 NaN  NaN
2021-01-04  0.396547  0.857937  1.527247 -0.531942 NaN  NaN

 Boolean mask where value is nan
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

Remove the row with missing data
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [4]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1,"\n")
print(" Filling  with missing data with 20 ")
print(df1.fillna(value=20))

                   A         B         C         D   F    E
2021-01-01 -0.026931 -0.272744 -0.692268  1.033369 NaN  1.0
2021-01-02  1.276502  0.558617  1.319664  0.231356 NaN  1.0
2021-01-03  1.835350 -1.056862 -0.533217  1.061188 NaN  NaN
2021-01-04 -0.222067  0.791035  0.715653 -0.039131 NaN  NaN

 Filling  with missing data with 20
                   A         B         C         D     F     E
2021-01-01 -0.026931 -0.272744 -0.692268  1.033369  20.0   1.0
2021-01-02  1.276502  0.558617  1.319664  0.231356  20.0   1.0
2021-01-03  1.835350 -1.056862 -0.533217  1.061188  20.0  20.0
2021-01-04 -0.222067  0.791035  0.715653 -0.039131  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
pieces=[df[:3],df[3:8]]
print("Breaking  of data into pieces from 0 to 2,3 to 7")
print(pieces[0],"\n",pieces[1],"\n")
print("Concatenate pieces")
print(pd.concat(pieces),"\n")
print("Concatenate  pieces along axis 1")
print(pd.concat(pieces,axis=1),"\n")
a=pieces[0]
b=pieces[1]
print("Concatenate  a and b")
print(pd.concat([a,b]))

          0         1         2         3
0  0.539514 -2.132813  1.387361 -0.099945
1  0.151315  1.759097  0.455249 -0.696526
2 -0.082904 -1.799215 -0.712703  0.776018
3 -0.507896  0.211595 -1.824508  0.223168
4  0.197238  0.361938 -0.837183  0.343024
5  1.266844  0.828816  0.997378 -0.114009
6  0.078696 -2.245433  0.576466 -0.838446
7 -0.498551 -0.068036  1.017447 -0.295710
8  0.175979 -1.316226 -0.702863  0.119168
9  1.031209 -0.377451 -0.421855 -1.204913
Breaking  of data into pieces from 0 to 2,3 to 7
          0         1         2         3
0  0.539514 -2.132813  1.387361 -0.099945
1  0.151315  1.759097  0.455249 -0.696526
2 -0.082904 -1.799215 -0.712703  0.776018
           0         1         2         3
3 -0.507896  0.211595 -1.824508  0.223168
4  0.197238  0.361938 -0.837183  0.343024
5  1.266844  0.828816  0.997378 -0.114009
6  0.078696 -2.245433  0.576466 -0.838446
7 -0.498551 -0.068036  1.017447 -0.295710

Concatenate pieces
          0         1         2         3
0  0.539514 -2.132813  1.387361 -0.099945
1  0.151315  1.759097  0.455249 -0.696526
2 -0.082904 -1.799215 -0.712703  0.776018
3 -0.507896  0.211595 -1.824508  0.223168
4  0.197238  0.361938 -0.837183  0.343024
5  1.266844  0.828816  0.997378 -0.114009
6  0.078696 -2.245433  0.576466 -0.838446
7 -0.498551 -0.068036  1.017447 -0.295710

Concatenate  pieces along axis 1
          0         1         2  ...         1         2         3
0  0.539514 -2.132813  1.387361  ...       NaN       NaN       NaN
1  0.151315  1.759097  0.455249  ...       NaN       NaN       NaN
2 -0.082904 -1.799215 -0.712703  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.211595 -1.824508  0.223168
4       NaN       NaN       NaN  ...  0.361938 -0.837183  0.343024
5       NaN       NaN       NaN  ...  0.828816  0.997378 -0.114009
6       NaN       NaN       NaN  ... -2.245433  0.576466 -0.838446
7       NaN       NaN       NaN  ... -0.068036  1.017447 -0.295710

[8 rows x 8 columns]

Concatenate  a and b
          0         1         2         3
0  0.539514 -2.132813  1.387361 -0.099945
1  0.151315  1.759097  0.455249 -0.696526
2 -0.082904 -1.799215 -0.712703  0.776018
3 -0.507896  0.211595 -1.824508  0.223168
4  0.197238  0.361938 -0.837183  0.343024
5  1.266844  0.828816  0.997378 -0.114009
6  0.078696 -2.245433  0.576466 -0.838446
7 -0.498551 -0.068036  1.017447 -0.295710